html {
	box-sizing: border-box; /*The only element that
	dont get inherited, thats why we should add 
	the next attritbutes to inherit it.*/
	max-width: 1200px;
}
*, *::before, *::after {
	box-sizing: inherit; /*to make sure 
	children will inherit box-sizing attribute,
	before and after elements are virtual 
	elements that exist. */
}
#header {
	border: 1px dashed blue;
	background-color:#eee;

}

#main-menu a {
	font-weight: bold;
	color: lightblue;
	text-decoration: none;
}

.menu {
	list-style-type: none;
	padding: 0;

}

.menu li {
	display: inline-block;
}

#header, #main, #sidebar {
	margin-bottom: 1em;
}

#main {
	border: 1px dashed red;
	width: 67%;
	display: inline-block;
	margin-right: 3%;
}

#sidebar {
	border: 1px dashed purple;
	width: 30%;
	float: right;
}

#footer {
	border: 1px dashed green;
	clear: both;
}
#forillon {
	width: 100%;
}
#perce-rock {
	width: 50%;
	float: right;
	margin: 0 0 0 0;
}
#sainte-flavie {
	width: 25%;
	float: left;
	height: 100%;
}

